/***

BY Sampson  Asare
On Ghana Tour
25-06-2020

***/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #777;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-main--title {
  display: block;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 8.8rem;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.heading-sub--title {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.8rem;
  text-transform: capitalize;
  animation: moveInRight 2s ease-out; }

.btn {
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem); }

.btn:active {
  transform: translateY(-0.1rem); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.801)), url("../img/nkrumah.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative; }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 4rem; }

.heading {
  color: #eee;
  backface-visibility: hidden; }

/*
COLORS:
*/
/* .text-box {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
