/***

BY Sampson  Asare
On Ghana Tour
25-06-2020

***/

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";


@import "components/bg_video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/features";
@import "components/form";
@import "components/review";


@import "layout/footer";
@import "layout/header";
@import "layout/grid";


@import "pages/home";

/*
COLORS:
*/

/* .text-box {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
} */