body {
  color: $color-prmary-grey;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-main--title {
  display: block;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 8.8rem;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.heading-sub--title {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.8rem;
  text-transform: capitalize;
  animation: moveInRight 2s ease-out;
}

/* About Section */

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to left,
      $color-primary-light,
      $color-primary-dark);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s;
  letter-spacing: 0.4rem;

  &:hover {
    transform: scale(1, 2);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  &_info {
    color: $color-white;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}